.wrap-newsletter {
  margin-top: 96px;
  margin-bottom: 116px;

  @media screen and (max-width: 1199px) {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  input {
    width: 300px;
    border-radius: 0px;
    border: 0px solid var(--dark);
    border-bottom: 1px solid var(--purple);
    margin-bottom: 27px;
  }

  button {
    border: 0px;
    border-radius: 3px;
    background-color: var(--purple);
    color: white;
    padding: 4px 13px;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 49px;
  }

  &:not(.ar) .text-col {
    margin-left: 16.666667%;
  }

  &.ar > .row {
    flex-direction: row-reverse;
  }

  &.ar .text-col {
    margin-right: 16.666667%;
  }

  &.ar .presentation {
    direction: rtl;
    text-align: right;
  }

  .presentation {
    position:relative;

    &::after {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-image: url(../images/element-left.png);
      width: 175px;
      height: 175px;
      position: absolute;
      bottom: -60px;
      left: -70px;

      @media screen and (max-width: 1199px) {
        display: none;
      }
    }
  }

  &.ar .presentation::after {
    background-image: url(../images/element-right.png);
    bottom: initial;
    left: initial;
    top: -70px;
    right: -70px
  }

  .subscribe-form {
    position: relative;

    &::before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-image: url(../images/element-right.png);
      width: 175px;
      height: 175px;
      position: absolute;
      top: -40px;
      right: -10px;

      @media screen and (max-width: 1199px) {
        display: none;
      }
    }
  }

  &.ar .subscribe-form::before {
    background-image: url(../images/element-left.png);
    margin: 0;
    top: initial;
    right: initial;
    bottom: -100px;
    right: 240px;
  }

  &.ar {
    .tnp-subscription input[type="text"],
    .tnp-subscription input[type="email"] {
      direction: rtl;
      text-align: right;
    }
  }
}

.subscribe-form {
  input {
    &.tnp-name,&.tnp-email {
      background: none !important;
      border-bottom: 1px solid var(--purple) !important;
      width: 85% !important;

      @media screen and (max-width: 1199px) {
        width: 100% !important;
      }
    }
  }

  form {
    margin-top: -30px;
  }

  .tnp-submit {
    border: 0px;
    border-radius: 3px;
    background-color: var(--purple) !important;
    color: white;
    padding: 10px 15px !important;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
    margin-right: 52px !important;

    @media screen and (max-width: 1199px) {
      width: auto !important;
      margin-right: 0px !important;
    }
  }

}
